#USE icingaweb2
#INSERT INTO icingaweb_user (name, active, password_hash) VALUES ('icinga', 1, 'md5');

USE icingaweb2
INSERT INTO icingaweb_user (name, active, password_hash) VALUES ('icinga', 1, '$1$jGSTKLNJ$QXW5AAtcRbMrdfVlVPnXM.');
